# Leet Code

#### Second Highest Salary

```sql
SELECT (SELECT DISTINCT salary
FROM employee
ORDER BY salary DESC
LIMIT 1
OFFSET 1) as SecondHighestSalary
```

```sql
SELECT 
    IFNULL((SELECT DISTINCT salary
    FROM employee
    ORDER BY salary DESC
    LIMIT 1
    OFFSET 1, NULL)) as SecondHighestSalary
```

#### Duplicate Emails

```sql
SELECT email
FROM person
GROUP BY email
HAVING COUNT(email) > 1
```

#### Employees Earn More Than Manager

```sql
SELECT a.name AS Employee
FROM employee AS a, employee as B
WHERE a.ManagerId = b.Id AND a.Salary > b.Salary;
```