# Leet Code

#### Second Highest Salary

```sql
SELECT (SELECT DISTINCT salary
FROM employee
ORDER BY salary DESC
LIMIT 1
OFFSET 1) as SecondHighestSalary
```

```sql
SELECT 
    IFNULL((SELECT DISTINCT salary
    FROM employee
    ORDER BY salary DESC
    LIMIT 1
    OFFSET 1, NULL)) as SecondHighestSalary
```

#### Duplicate Emails

```sql
SELECT email
FROM person
GROUP BY email
HAVING COUNT(email) > 1
```

#### Employees Earn More Than Manager

```sql
SELECT a.name AS Employee
FROM employee AS a, employee as B
WHERE a.ManagerId = b.Id AND a.Salary > b.Salary;
```

#### Customers Who Never Order

```sql
SELECT Name AS Customers
FROM Customers
WHERE Id NOT IN (SELECT CustomerId FROM Orders);
```

#### Delete Duplicate Emails

```sql
DELETE p1 FROM person p1, person p2
WHERE p1.email = p2.email AND p1.Id > p2.Id;
```

#### Big Countries

```sql
SELECT name, population, area
FROM world 
WHERE area > 3000000 OR population > 25000000;
```