# Leet Code

#### Second Highest Salary

```sql
SELECT (SELECT DISTINCT salary
FROM employee
ORDER BY salary DESC
LIMIT 1
OFFSET 1) as SecondHighestSalary
```

```sql
SELECT 
    IFNULL((SELECT DISTINCT salary
    FROM employee
    ORDER BY salary DESC
    LIMIT 1
    OFFSET 1, NULL)) as SecondHighestSalary
```

#### Duplicate Emails

```sql
SELECT email
FROM person
GROUP BY email
HAVING COUNT(email) > 1
```

#### Employees Earn More Than Manager

```sql
SELECT a.name AS Employee
FROM employee AS a, employee as B
WHERE a.ManagerId = b.Id AND a.Salary > b.Salary;
```

#### Customers Who Never Order

```sql
SELECT Name AS Customers
FROM Customers
WHERE Id NOT IN (SELECT CustomerId FROM Orders);
```

#### Delete Duplicate Emails

```sql
DELETE p1 FROM person p1, person p2
WHERE p1.email = p2.email AND p1.Id > p2.Id;
```

#### Big Countries

```sql
SELECT name, population, area
FROM world 
WHERE area > 3000000 OR population > 25000000;
```

### Swap Salaries

#### Leet Code Solution

```sql
UPDATE salary
SET
    sex = CASE sex
        WHEN 'm' THEN 'f'
        ELSE 'm'
    END;
```

### Not Boring Movies

#### My solution

```sql
SELECT * 
FROM cinema
WHERE id % 2 != 0 AND description NOT LIKE '%boring%'
ORDER BY rating DESC;
```

### Rising Temperatures

```sql
SELECT w1.id 
FROM weather w1
    JOIN weather w2 ON DATEDIFF(w1.recordDate, w2.recordDate) = 1
WHERE w1.temperature > w2.temperature
```

# Hacker Rank

```sql
SELECT hacker_id, name
FROM hackers h
    JOIN challenges c ON c.hacker_id = h.hacker_id
    JOIN submissions
```

#### Olivander's Inventory

```sql
SELECT W.id, P.age, W.coins_needed, W.power
FROM WANDS AS W
    INNER JOIN WANDS_PROPERTY AS P ON W.code = P.code
WHERE P.is_evil = 0 AND W.coins_needed = 
    (SELECT MIN(coins_needed)
     FROM WANDS AS W1
        INNER JOIN WANDS_PROPERTY AS P1 ON W1.code = P1.code
     WHERE W1.power = W.power AND P1.age = P.age)
ORDER BY W.power DESC, P.age DESC
```

#### Contest Leaderboard

```sql
SELECT h.hacker_id, h.name, SUM(s2.high_score) as total_score
FROM hackers h
    JOIN (SELECT s.hacker_id, MAX(s.score) as high_score FROM submissions s
     GROUP BY s.challenge_id, s.hacker_id) AS s2
     ON h.hacker_id = s2.hacker_id
WHERE s2.high_score > 0
GROUP BY h.hacker_id, h.name
ORDER BY total_score DESC, h.hacker_id;
```